body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#header-container {
  background-color: #d7332d;
  margin-left: -8px;
  margin-top: -20px;
  margin-right: -8px;
  padding: 20px;
  color: white;
}

#main-container {
  padding: 50px;
}

#footer {
  margin-top: 220px;
}
