<!DOCTYPE html>
<html>
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <link rel='stylesheet' href='./assets/stylesheets/style.css' />
</head>
<body>
  <div class="container">
    
    {{ content }}
  
    <div class="footer">
      <p>
        Fritzing.org
      </p>
      <p>
        <img src="./assets/images/fritzing_icon.png" width="50px">
        All image was created with Fritzing.
      </p>
    </div>
  </div>
</body>
</html>
